<div class="my-4">
  <h1 class="text-center" style="text-transform: uppercase"><%=@category.name%></h1>
  <%= render CatalogComponent.new(sweet_products: @sweet_products, categories: @categories)%>
</div>
