<footer class="py-4">
  <div class="container text-center">
    <%= link_to root_path, class:"navbar-brand" do %>
    "<%=t "navbar.title" %>"
    <%end%>
    <h3>Дякуємо що відвідали нас</h3>
    <small>Всі права захищено 2021</small>
  </div>
</footer>
